@{

    Layout = "_mioLayout";

}

<body>

    <main>

        <div class="container">

            <div class="row justify-content-center mt-5 mb-5" style=border-radius=10>

                <div class ="col-6">

                        <img src="https://toolset.mrw.it/temp/logo_7c09de55f91421c59a2e1fbe830ec0b3.png" alt="enter" />

                </div>

            </div>

            <div class="row justify-content-center mb-5 mt-5">

                <div class ="col-4 justify-content-center">

                    <form>
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="text" id="form2Example1" class="form-control" />
                        <label class="form-label" for="form2Example1">Nome Utente</label>
                      </div>

                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <input type="password" id="form2Example2" class="form-control" />
                        <label class="form-label" for="form2Example2">Password</label>
                      </div>

                      <!-- 2 column grid layout for inline styling -->
                      <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                          <!-- Checkbox -->
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                            <label class="form-check-label" for="form2Example31"> Remember me </label>
                          </div>
                        </div>

                        <div class="col color-danger">
                          <!-- Simple link -->
                          <a href =@Url.Action("Registrazione" , "Utente")>
                              Registrati!
                          </a>
                        </div>
                      </div>

                      <!-- Submit button -->
                      <button type="submit" class="btn btn-danger btn-block mb-4">Accedi</button>

                    </form>

                </div>


                </div>


            <div class="row justify-content-center mt-5">

                <div class="col-2">
                    <a href =@Url.Action("Index" , "Pizze")>
                        <img class="img-fluid justify-content-center justify-content-center" src="https://toolset.mrw.it/temp/logo_1ab16d4c3d0659a8c534d6115ffbf465.png" alt="enter" />
                    </a>
                </div>

            </div>

        </div>

    </main>

</body>