@model PizzasCategories
@{

    Layout = "_mioLayout";

}

<body>
    <main>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="d-flex align-items-center mb-5">
                    <img src="https://toolset.mrw.it/temp/logo_244298b5e7fe66e5878093a053afb2a7.png" class="card-img-top" alt="primaFoto">
                </div>

                <form asp-controller = "Pizze" asp-action="Update" asp-route-id="@Model.pizza.Id" method="post">
                    @Html.AntiForgeryToken()
                    <div class="col-3 mb-3">
                        <img src="https://toolset.mrw.it/temp/logo_ab130ca5657d2e5c53a12842400e3df3.png" />
                        <input asp-for="pizza.Nome" class="d-block w-100" />
                        <span asp-validation-for="pizza.Nome" class="text-danger"></span>
                    </div>
                    <div class="col-3 mb-5">
                        <img src="https://toolset.mrw.it/temp/logo_ca92da41258edcf1dd565985b226cfa6.png" />
                        <input asp-for="pizza.Prezzo" class="d-block w-100" />
                        <span asp-validation-for="pizza.Prezzo" class="text-danger"></span>
                    </div>
                    <div class="col-3 mb-3">
                        <img src ="https://toolset.mrw.it/temp/logo_263458ff47171f355c42db4bea5801c2.png" />
                        <input asp-for="pizza.Foto" class="d-block w-100" />
                        <span asp-validation-for="pizza.Foto" class="text-danger"></span>
                    </div>
                    <div class="col-3 mb-3">
                        <img src="https://toolset.mrw.it/temp/logo_050c9ff9bece8d5055a4d81ddd6c9077.png" />
                        <textarea asp-for="pizza.Descrizione" rows="10" class="d-block w-100"></textarea>
                        <span asp-validation-for="pizza.Descrizione" class="text-danger"></span>
                    </div>
                    <select asp-for ="pizza.CategoriaId" class="form-select" aria-label="Default select example" >
                    <option value="">Seleziona la categoria</option>
                    @foreach(Categoria categoria in Model.categorias)
                    {
                            
                        <option value="@categoria.Id">@categoria.Titolo</option>

                    }
                    </select>
                    <div class="text-start">
                        <input type="submit" class="btn btn-small btn-success" value="Salva">
                    </div>
                

                </form>
            </div>
        </div>
    </div>
    </main>
</body>